<p style="color: green"><%= notice %></p>

<h1>Artikelkategories</h1>

<div id="artikelkategories">
  <% @artikelkategories.each do |artikelkategorie| %>
    <%= render artikelkategorie %>
    <p>
      <%= link_to "Anzeigen", artikelkategorie %>
    </p>
  <% end %>
</div>

<%= link_to "Neue Artikelkategorie", new_artikelkategory_path %> |
<%= link_to "Neuer Artikel", new_artikel_path %>
