<p style="color: green"><%= notice %></p>

<%= render @artikelkategorie %>

<div>
  <%= link_to "Editieren", edit_artikelkategory_path(@artikelkategorie) %> |
  <%= link_to "Zurück", artikelkategories_path %> |
  <%= link_to "Anzeigen", artikelkategory_artikels_path(@artikelkategorie)%>

  <%= button_to "Löschen", @artikelkategorie, method: :delete %>
</div>
