<%
  if artikelkategorie
    path = artikel.id ? artikelkategory_artikel_path(artikelkategorie, artikel) : artikelkategory_artikels_path(artikelkategorie)
    http_method = artikel.id ? :patch : :post
  else
    path = artikels_path
    http_method = :post
  end
%>
<%= form_for(artikel, url: path, method: http_method) do |fb| %>

  <%=
    if artikelkategorie
      fb.hidden_field :artikelkategorie_id
    else
      data = Artikelkategorie.all.pluck(:kategorie, :id)
      fb.select :artikelkategorie_id, options_for_select(data)
    end
  %>

  <div>
    <%= fb.label :name, style: "display: block" %>
    <%= fb.text_field :name %>
  </div>

  <div>
    <%= fb.label :preis, style: "display: block" %>
    <%= fb.number_field :preis, step: :any %>
  </div>

  <div>
    <%= fb.submit %>
  </div>
<% end %>
