<p style="color: green"><%= notice %></p>

<h1>Artikels</h1>

<div id="artikels">
  <%= render "artikelkat", artikelkategorie: @artikelkategorie%>
  <hr>
  <% @artikels.each do |artikel| %>
    <%= render "artikel", artikel: artikel %>
    <p>
      <%= link_to "Anzeigen", artikelkategory_artikel_path(@artikelkategorie, artikel) %>
    </p>
    <%= link_to "Add", artikels_add_path(artikel)%>
  <% end %>
</div>

<<<<<<< HEAD
<%= link_to "Neuer Artikel", new_artikelkategory_artikel_path(@artikelkategorie) %> |
<%= link_to "Zurück", artikelkategory_path(@artikelkategorie)%>
=======
<%= link_to "New artikel", new_artikel_path %>




<%= link_to "Show Warenkorb", warenkorbs_path %>
>>>>>>> main
