<p style="color: green"><%= notice %></p>

<%= render "article", article: @article, category: @category %>
<%= render "articlecat", category: @category %>

<div>
  <%= link_to "Bearbeiten", edit_category_article_path(@category, @article) %> |
  <%= link_to "Zurück zu allen Artikeln", category_articles_path(@category) %>

  <%= button_to "Löschen", category_article_path(@category, @article), method: :delete %>
</div>
