<p style="color: green"><%= notice %></p>

<%= render "artikel", artikel: @artikel, artikelkategorie: @artikelkategorie %>
<%= render "artikelkat", artikelkategorie: @artikelkategorie %>

<div>
  <%= link_to "Bearbeiten", edit_artikelkategory_artikel_path(@artikelkategorie, @artikel) %> |
  <%= link_to "Zurück zu allen Artikeln", artikelkategory_artikels_path(@artikelkategorie) %>

  <%= button_to "Löschen", artikelkategory_artikel_path(@artikelkategorie, @artikel), method: :delete %>
</div>
