<p style="color: green"><%= notice %></p>

<h1>Warenkorb</h1>

<div id="orders">
  <% totalPrice = 0 %>
  <% price = 0 %>
  <% @lineItems.each_key do |articleId| %>
    <% line_item = @lineItems[articleId] %>
    <%= line_item.article.name %> |
    Anzahl: <%= line_item.anzahl%> |
    Preis: <%= price = OrdersController.price(line_item) %>€
    <p>
    </p>
    <% totalPrice += price %>
  <% end %>
<%= @a %>
  <hr>
  Der Gesamtpreis beträgt sagenumwobene : <%= totalPrice %>€
</div>
