<p style="color: green"><%= notice %></p>

<h1>Kategorien</h1>

<div id="categories">
  <% @categories.each do |category| %>
    <%= render category %>
    <p>
      <%= link_to "Hier ... Artikel", category_articles_path(category) %>
      <% if user_signed_in? %>
        | <%= link_to "Editieren", edit_category_path(category) %>
        <%= button_to "Löschen", category, method: :delete %>
      <% end %>
    </p>
  <% end %>
</div>
<% if user_signed_in? %>
  <%= link_to "Neue Artikelkategorie", new_category_path %> |
  <%= link_to "Neuer Artikel", new_article_path %>
<% end %>