<p style="color: green"><%= notice %></p>

<h1>Kategorien</h1>

<div id="categories">
  <% @categories.each do |category| %>
    <%= render category %>
    <p>
      <%= link_to "Anzeigen", category_articles_path(category) %> |
      <%= link_to "Editieren", edit_category_path(category) %> |
      <%= data = category.article.all.pluck(:name, :id)
        select_tag(category.id, options_for_select(data))
      %>
      <%= button_to "Löschen", category, method: :delete %>
    </p>
  <% end %>
</div>

<%= link_to "Neue Artikelkategorie", new_category_path %> |
<%= link_to "Neuer Artikel", new_article_path %>
