<!DOCTYPE html>
<html>
  <head>
    <title>CafeApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= link_to "",
      _path, %>

    <%= yield %>

    <hr>

    Warenkorb: <%= @current_order.grand_total %>
    <% if @current_order.line_items.count > 0 %>
        Kame...hame...kame...hame.........
        <% if @current_order.line_items.count > 4 %>
          HAAAAAAAAAAAAA
        <% else %>
          FAIL
        <% end %>
    <% else %>
      FAIL
    <% end %>

    <br>
    <%= link_to 'Warenkorb leeren', url_for(clear_order_id: 't') %> |
    <%= link_to 'Zum Warenkorb', basket_path%> |
    <%= link_to 'Zurück du Schlingel', 'javascript:history.back()' %> |
    <%= link_to 'Zurück zu allen Kategorien, opfer', categories_path %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

  </body>
</html>
