<!DOCTYPE html>
<html>
  <head>
    <title>CafeApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>

    <hr>

    Current Order: <%= @current_order.order_id %>
    <br>
    <%= link_to 'Warenkorb leeren', url_for(clear_order_id: 't') %>
  </body>
</html>
